<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.redisv.mapper.CommandStatsMapper">

    <resultMap id="BaseResultMap" type="com.lzq.redisv.domain.entity.CommandStats">
            <id property="redisId" column="redis_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="calls" column="calls" jdbcType="VARCHAR"/>
            <result property="usec" column="usec" jdbcType="VARCHAR"/>
            <result property="usecPerCall" column="usec_per_call" jdbcType="VARCHAR"/>
            <result property="rejectedCalls" column="rejected_calls" jdbcType="VARCHAR"/>
            <result property="failedCalls" column="failed_calls" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        redis_id,type,calls,
        usec,usec_per_call,rejected_calls,
        failed_calls,create_time,update_time
    </sql>
</mapper>
